@charset "utf-8";


/* z-index 설정 */
.color-box {
    width: 300px;
    height: 300px;
    position: absolute;
    font-size: 30px;
}

#box1 {
    background-color: black;
    top: 50px;
    left: 50px;
    z-index: 3;
}

#box2 {
    background-color: red;
    top: 100px;
    left: 100px;
    z-index: 2;
}

#box3 {
    background-color: orange;
    top: 150px;
    left: 150px;
    z-index: 1;
}

#box4 {
    background-color: yellow;
    top: 200px;
    left: 200px;
    z-index: 999;
}

/* 박스 세로로 세우기 */
.box2 {
    position: absolute;
    top: 500px;
    width: 300px;
    height: 300px;
}

.column-box {
    width: 300px;
    height: 300px;
    font-size: 30px;
}

#box5 {
    background-color: black;
}

#box6 {
    background-color: red;

}

#box7 {
    background-color: orange;
}

#box8 {
    background-color: yellow;
}


/*  position: relative */
.box3 {
    position: absolute;
    top: 500px;
    left: 1000px;
}

.relative-box {
    width: 300px;
    height: 300px;
    position: relative;
    font-size: 30px;
}

#box9 {
    background-color: black;
    top: 50px;
    left: 50px;
    z-index: 3;
}

#box10 {
    background-color: red;
    top: 100px;
    left: 100px;
    z-index: 2;
}

#box11 {
    background-color: orange;
    top: 150px;
    left: 150px;
    z-index: 1;
}

#box12 {
    background-color: yellow;
    top: 200px;
    left: 200px;
    z-index: 999;
}